body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dado {

    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

#resultado {

    font-size: 50px;
}

#historial {

    width: 200px;
    height: 500px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}